<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ document_title }}</title>

<meta name="description" content="{{ description }}">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="{{ common_css }}">
<link rel="stylesheet" href="{{ layout_css }}">
<link rel="stylesheet" href="{{ theme_css }}">
</head>

<body>
  <!-- Header -->
  {{> partials/header }}

  <!-- Search Container -->
  {{> partials/search }}

  <!-- Main Content -->
  <div class="mq-page-shell" id="mq-page-shell"{{ page_summary_attr }}{{ page_main_style }}>
    <main class="mq-main">
      <!-- dynamic mq content -->
      {{ content }}
      <!-- bottom previous/next navigation -->
      {{ page_nav }}
    </main>
    <!-- Sidebar summary (optional) -->
    {{> partials/summary }}
  </div>
  
  <!-- Footer -->
  <footer class="mq-footer">
    <!-- Remove if you wish, keeping it brings visibility to Marque :) -->
    <span class="mq-footer-built">Built with <a href="https://github.com/Loxed/marque">Marque</a></span>
    
    <!-- Repo button (Optional) -->
    <span class="mq-footer-repo"{{ footer_repo_hidden }}>  
      <a class="mq-footer-repo-link" href="{{ repo }}" aria-label="Open repository">
        {{> partials/icons/github }}
      </a>
    </span>
</footer>

  <script src="/index.js"></script>
</body>
</html>
